<div class="container-fluid bg-light py-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4" style="background-color: #e9ecef;">
          <div class="card-body">
            <h5 class="card-title">Home Loan</h5>
            <p class="card-text"><strong>Description:</strong> Must be either a resident of India or a non-resident holding an Indian passport or a Person of Indian Origin (PIO) having a foreign passport or Overseas Citizen of India (OCI)</p>
            <p class="card-text"><strong>Management Fee:</strong> $1000</p>
            <p class="card-text"><strong>Term:</strong> 15 years</p>
            <p class="card-text"><strong>Interest Rate:</strong> 8.25%</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-4" style="background-color: #e9ecef;">
          <div class="card-body">
            <h5 class="card-title">Gold Loan</h5>
            <p class="card-text"><strong>Description:</strong> All the individuals who are true owners of gold jewellery or ornaments or specially minted gold coins that are sold by the banks.</p>
            <p class="card-text"><strong>Management Fee:</strong> $800</p>
            <p class="card-text"><strong>Term:</strong> 1 year</p>
            <p class="card-text"><strong>Interest Rate:</strong> 9.27%</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4" style="background-color: #e9ecef;">
          <div class="card-body">
            <h5 class="card-title">Vehicle Loan</h5>
            <p class="card-text"><strong>Description:</strong> The loan can be availed of by salaried employees, businessmen, farmers, professionals, staff or ex-staff</p>
            <p class="card-text"><strong>Management Fee:</strong> $500</p>
            <p class="card-text"><strong>Term:</strong> 15 years</p>
            <p class="card-text"><strong>Interest Rate:</strong> 8.25%</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-4" style="background-color: #e9ecef;">
          <div class="card-body">
            <h5 class="card-title">Personal Loan</h5>
            <p class="card-text"><strong>Description:</strong> A personal loan allows you to borrow a lump sum of money to pay for a variety of expenses and then repay those fund.</p>
            <p class="card-text"><strong>Management Fee:</strong> $2500</p>
            <p class="card-text"><strong>Term:</strong> 1 year</p>
            <p class="card-text"><strong>Interest Rate:</strong> 13%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  